= partial "head"
%body
  = partial "header"
  .row
    .large-8.small-12.large-centered.columns
      %section#content
        %article
          .title
            .date
              = current_article.date.strftime('%b %e, %Y')
              %br
              \—
            %h1= current_article.title
          ~ yield
          = partial "mailing_list"
  .read-next
    .row
      .large-6.small-6.columns.prev
        - unless current_article.previous_article.nil?
          «
          = link_to current_article.previous_article.title, current_article.previous_article
      .large-6.small-6.columns.next
        - unless current_article.next_article.nil?
          = link_to current_article.next_article.title, current_article.next_article
          »

  = partial "footer"


