%section#header
	.row
		%nav.links
			//= link_to "About"
			= link_to "Twitter", "http://twitter.com/jgnatch"
			= link_to "RSS", "/feed.xml"
			= link_to "Dribbble", "http://dribbble.com/jgnatch"

	.row
		.large-8.columns.large-centered
			.header-author.row
				.large-3.small-4.columns.small-centered.large-uncentered
					%figure
						= link_to "/" do
							%img{:src => '/images/ignacio-gutierrez.jpg', width: '120', height: '120'}
				.large-9.columns
					%figcaption
						%h1
							= link_to "Dev Nacho", "/"
						%p
							I'm Ignacio Gutierrez and I write about React JS, Frontend design, and some other random stuff.

